<div class="container">
    <div class="cabecalho left">
        <div class="left">
            <h1>
                <img src="assets/login/logo.png">
            </h1>

            <div class="container__arrow-back">
                <div class="arrow__back">
                    <mat-icon class="chevron_left">chevron_left</mat-icon>
                    <span>Back to Login</span>
                </div>

            </div>
            <h2 class="title">
                Forgot password
            </h2>
            <p class="sub__title">
                Enter the email associated with your account and we’ll send an email with instructions to reset your password.
            </p>

            <div class="form">
                <br>
                <label for="email" class="text__input">Email</label>
                <br>
                <input type="email" name="email" id="email" placeholder="name@example.com">
            </div>

            <br>
            <button type="submit">Send instructions</button>
        </div>
        <div class="align__text-center sign__up">
            <p>Do you have any questions?  <a href="#"> FAQ</a></p>
        </div>
    </div>
    <div class="right">

    </div>
</div>
