

.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.container__arrow-back{
    display: flex;
}
.arrow__back{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.arrow__back span{
    margin-top: 2px;
    color: #545563;
    font-weight: 500;
}
.chevron_left{
    color: #545563;
}

.left{
    width: 100%;
    background-color: #fff;
    margin-left: 10%;
}
.cabecalho h1{
    display: inline-block;
    padding: 16px 0;
    font-size: 12px;

}
.cabecalho h1 img{
    width: 85px;
}
.title{
    font-weight: 700;
    font-size: 60px;
}
.sub__title{
    width: 55%;
    color: #545563;
    font-weight: 400;
    font-size: 18px;
    word-wrap: break-word;
}
.text__input{
    font-size: 12px;
    color: #545563;
    line-height: 16px;
}
.form input{
    width: 40%;
    height: 100%;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    margin-bottom: 10px;
}
.remember{

}
.remember input{
    margin-right: 10px;
}
button{
    color: #ffffff;
    background-color:#4E60FF;
    border: none;
    width: 42%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
.align__text-center{
    width: 60%;
    text-align: center;
}
.forgot__password-a{
    text-decoration: none;
    font-weight: 700;
    color: #4E60FF;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.sign__up{
    margin-top: 10%;
}
.sign__up p{
    font-size: 14px;
    font-weight: 400;
}
.sign__up p a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #4E60FF;
}
.right{
    width: 100%;
    background-color: #697BFF;
}