<div class="container">
    <header class="cabecalho left">
        <div class="left">
            <h1>
                <img src="assets/login/logo.png">
            </h1>
            <h2 class="title">
                Login
            </h2>
            <p class="sub__title">
                Sign in with your data that you entered during your registration.
            </p>

            <div class="form">
                <label for="email" class="text__input">Email</label>
                <br>
                <input type="text" name="email" id="email" placeholder="name@example.com">

                <br>
                <label for="password" class="text__input">Password</label>
                <br>
                <input type="password" name="password" id="password" placeholder="8 min characters">
            </div>

            <br>
            <div class="remember">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Keep me logged in</label>
            </div>
            <br>
            <button type="submit">Login</button>

            <div class="align__text-center">
            <a href="#" class="forgot__password-a">Forgot password</a>

            </div>
            <div class="align__text-center sign__up">
                <p>Don’t have an account? <a href="#"> Sign up</a></p>
            </div>
        </div>
    </header>
    <div class="right">

    </div>
</div>